# Proyecto 2 - Predicciones de la NBA
### Resumen
Este proyecto se basa en predecir quienes van a estar al tope en la NBA.

Lo que se espera realizar en este proyecto:
* **Limpieza de datos**
    * Encontrar datos relevantes
    * Leerlos
    * Unir
* **Analisis de datos**
    * Analizar los datos de los jugadores por individual
    * Analizar los juegos de los equipos 
    * Encontrar las variables crititcas
* **Prediccion**
    * Hacer un sistema de ranking juntando el primero y segundo paso
    * Utilizar un sistema de predicciòn
* **Verificar**
    * Probar y analizar

# Limpieza de Datos
Datos utilizados
1. Jugadores, equipos, coaches desde fecha x a fecha y. (?.csv)
2. Datos tienen que ser relevantes para poder predecir a los jugadores. (?.csv)
3. Algo mas?

## Importacion

In [2]:
# Math and Data
import pandas as pd
import numpy as np
# Downloads and files
import requests
import os
# Graphs and Clusters
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.cluster as cluster
import time
#prediction models
from sklearn.svm import SVR

## Lectura de Datos

In [3]:
players = pd.read_csv('Players/player_data.csv')
Players = pd.read_csv('Players/Players.csv')
season = pd.read_csv('Players/Seasons_Stats.csv')

In [4]:
players.dtypes

name           object
year_start      int64
year_end        int64
position       object
height         object
weight        float64
birth_date     object
college        object
dtype: object

In [5]:
Players.dtypes

Unnamed: 0       int64
Player          object
height         float64
weight         float64
collage         object
born           float64
birth_city      object
birth_state     object
dtype: object

In [7]:
season.dtypes

Unnamed: 0      int64
Year          float64
Player         object
Pos            object
Age           float64
Tm             object
G             float64
GS            float64
MP            float64
PER           float64
TS%           float64
3PAr          float64
FTr           float64
ORB%          float64
DRB%          float64
TRB%          float64
AST%          float64
STL%          float64
BLK%          float64
TOV%          float64
USG%          float64
blanl         float64
OWS           float64
DWS           float64
WS            float64
WS/48         float64
blank2        float64
OBPM          float64
DBPM          float64
BPM           float64
VORP          float64
FG            float64
FGA           float64
FG%           float64
3P            float64
3PA           float64
3P%           float64
2P            float64
2PA           float64
2P%           float64
eFG%          float64
FT            float64
FTA           float64
FT%           float64
ORB           float64
DRB           float64
TRB           float64
AST           float64
STL           float64
BLK           float64
TOV           float64
PF            float64
PTS           float64
dtype: object

In [10]:
season.Player.head()

0    Curly Armstrong
1       Cliff Barker
2      Leo Barnhorst
3         Ed Bartels
4         Ed Bartels
Name: Player, dtype: object

# Analisis de Datos

In [12]:
%%html
<style>
    table {
        display: inline-block
    }
</style>

## Variables Criticos
Hay muchas variables en cuales se tiene que tomar en cuenta.
### Jugadores
En los jugadores lamentablemente no se pueden utilizar los mismos datos para todos. Un centro no hace lo mismo que un punto de guardia. No seria justo mirar cuantos puntos consigue por jugador ya que hay algunos que buscan màs formar jugadas y pases. <br>
Pero si hay datos que todos los jugadores tienen en comùn que ayuda al equipo.<br>


## Comun
| **Variable**       | **Columna** |
| :- |-:|
| % tiros libres       |    FT%   |
| Altura               |  Height  |
| Edad                 |    Age   |
| Personal Fouls |	PF |

## Center

| **Variable**       | **Columna** |
| :- |:--------:|
|Offensive Rebound Percentage|	ORB% |
|Defensive Rebound Percentage|	DRB% |
|Total Rebound Percentage|	TRB% |
|True Shooting % |	TS% |
| Points	| PTS | 
| Effective Field Goal Percentage | eFG% |


## Power Forward
| **Variable**       | **Columna** |
| :------------------: |:--------:|
|Offensive Rebound Percentage|	ORB% |
|Defensive Rebound Percentage|	DRB% |
|Total Rebound Percentage|	TRB% |

## Small Forward
| **Variable**       | **Columna** |
| :------------------: |:--------:|
| % tiros libres       |    FT%   |
| Altura               |  Height  |
| Edad                 |    Age   |

## Point Guard
| **Variable**       | **Columna** |
| :------------------: |:--------:|
| % tiros libres       |    FT%   |
| Altura               |  Height  |
| Edad                 |    Age   |

In [5]:
season.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [6]:
players.dtypes

name           object
year_start      int64
year_end        int64
position       object
height         object
weight        float64
birth_date     object
college        object
dtype: object

In [7]:
# players.year_end.drop_duplicates().sort_values()
list(players)

['name',
 'year_start',
 'year_end',
 'position',
 'height',
 'weight',
 'birth_date',
 'college']

### Prediccion

In [ ]:
def predict_wins(teams, rating, x):
    teams = np.reshape(teams,(len(teams),1))
    # Lienal
    svr_lin = SVR(kernel= 'linear', C=1e3)
    # Exponensial
    svr_poly = SVR(kernel='poly', C=1e3, degree = 2)
    # En base de Radio (Campana)
    svr_rbf = SVR(kernel= 'rbf', C=1e3, gamma=0.1)
    # llenar las tablas
    svr_lin.fit(teams, rating)
    svr_poly.fit(teams, rating)
    svr_rbf.fit(teams, rating)
    # Graficar
    plt.scatter(teams, rating, color='black', label='Data')
    plt.plot(teams, svr_lin.predict(rating), color='green', label='Linear')
    plt.plot(teams, svr_rbf.predict(rating), color='red', label='RBF')